---
layout: default
refactor: true
---
<h3 style="margin-bottom: 0px;">CURRICULUM VITAE</h3>

<style>
  hr {
    margin: 5px 0 20px;
  }

  h3 {
    margin-bottom: 20px;
    margin-top: 5px;
  }
</style>
<hr>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        iframe {
            width: 100%;
            height: 100vh;
            border: none;
            overflow: auto;
        }

        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    
    <iframe src="https://web.itu.edu.tr/aksuko/koray_aksu_cv.pdf#toolbar=1" scrolling="yes">
        Your browser does not support viewing this PDF, 
        <a href="https://web.itu.edu.tr/aksuko/koray_aksu_cv.pdf">click here to download the PDF.</a>
    </iframe>

</body>
</html>
