---
layout: default
refactor: true
---
<h3 style="margin-bottom: 0px;">BIOGRAPHY</h3>

<style>
  a[href]:hover {
    text-decoration: underline;
  }

  a {
    display: inline-block;
  }

  /* Divider styling */
  hr {
    margin: 5px 0 20px;
  }

  h3 {
    margin-bottom: 20px;
    margin-top: 5px;
  }

  .content {
    font-size: calc(1em - 1pt);
    margin: 0;
    line-height: 1.8;
  }

  .education-container,
  .experience-container {
    margin-bottom: 15px;
  }

  .education-container p,
  .experience-container p,
  .contact-content p {
    margin: 0;
    line-height: 1.8;
  }

  .contact-container::before {
    content: '•';
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0.6em;
    transform: translateY(-50%);
    line-height: 1.8;
  }

  .contact-content {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .contact-content strong {
    min-width: 150px;
  }

  .contact-content p {
    margin-left: 10px;
  }

  .contact-content a {
    text-decoration: none;
  }

  .contact-content a:hover {
    text-decoration: underline;
  }

  .education-container {
    list-style: none;
    padding-left: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .education-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .education-year {
    text-align: right;
    flex-shrink: 0;
    width: 200px; /* Adjust width as needed */
  }

  .education-container::before {
    content: '•';
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0.6em;
    transform: translateY(-50%);
    line-height: 1.8;
  }

  .iframe-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  .iframe-container iframe {
    border: 2px solid #d3d3d3; /* Light gray border */
    border-radius: 8px; /* Rounded corners */
    padding: 5px; /* Padding inside the border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow for better appearance */
  }
</style>

<hr>

<div class="content">
  <p>
    Koray Aksu received a Bachelor’s degree in Geomatics Engineering and Civil Engineering (double major) from Istanbul
    Technical University, Türkiye, and an M.Sc. degree in Geomatics Engineering from the same institution. He is
    pursuing a Ph.D. in Geomatics Engineering, focusing on Geographic Information Systems, Agent-Based Modeling, and
    Deep/Reinforcement Learning. His current research interests include spatial data analysis, BIM and Game Engine
    integration, rule-based spatial simulations, 3D reconstruction, Scan to BIM, and point cloud segmentation.
  </p>
</div>

<h3 style="margin-bottom: 0px;">SKILLS AND EXPERTISE</h3>

<hr>

<div class="content">
  <p>
    Geomatics, Geomatics Engineering, Geographic Information System, Spatial Data Analysis, Spatial Analysis, Building
    Information Modelling, BIM, Photogrammetry, LiDAR, Laser Scanning, Point Clouds, 3D Modeling
  </p>
</div>

<h3 style="margin-bottom: 0px;">ACADEMIC EXPERIENCE</h3>

<hr>

<div class="content">
  <div class="education-container">
    <div class="education-item">
      <p><strong>Research Assistant</strong></p>
      <p class="education-year"><strong>2021 - Present</strong></p>
    </div>
    <p>Istanbul Technical University, Faculty of Civil Engineering, Department of Geomatics Engineering, Turkey</p>
  </div>
</div>

<h3 style="margin-bottom: 0px;">LANGUAGES</h3>

<hr>

<div class="content">
  <p>Turkish, English</p>
</div>

<h3 style="margin-bottom: 0px;">EDUCATION INFORMATION</h3>

<hr>

<div class="content">
  <div class="education-container">
    <div class="education-item">
      <p><strong>Geomatics Engineering (PhD)</strong></p>
      <p class="education-year"><strong>2023 - Present</strong></p>
    </div>
    <p>Istanbul Technical University, Graduate School, Turkey</p>
  </div>

  <div class="education-container">
    <div class="education-item">
      <p><strong>Geomatics Engineering (MSc)</strong></p>
      <p class="education-year"><strong>2020-2023</strong></p>
    </div>
    <p>Istanbul Technical University, Graduate School, Turkey</p>
  </div>

  <div class="education-container">
    <div class="education-item">
      <p><strong>Civil Engineering (BSc)</strong></p>
      <p class="education-year"><strong>2017-2021</strong></p>
    </div>
    <p>Istanbul Technical University, Faculty of Civil Engineering, Department of Civil Engineering, Turkey</p>
  </div>

  <div class="education-container">
    <div class="education-item">
      <p><strong>Geomatics Engineering (BSc)</strong></p>
      <p class="education-year"><strong>2016-2020</strong></p>
    </div>
    <p>Istanbul Technical University, Faculty of Civil Engineering, Department of Geomatics Engineering, Turkey</p>
  </div>
</div>

<h3 style="margin-bottom: 0px;">CONTACT</h3>

<hr>

<div class="content">
  <div class="contact-content">
    <strong>Email</strong>
    <p><a href="mailto:koray.aksu@itu.edu.tr">koray.aksu@itu.edu.tr</a></p>
  </div>
  <div class="contact-content">
    <strong>Other Email</strong>
    <p><a href="mailto:aksuko@itu.edu.tr">aksuko@itu.edu.tr</a></p>
  </div>
  <div class="contact-content">
    <strong>Office</strong>
    <p>G306</p>
  </div>
  <div class="contact-content">
    <strong>Address</strong>
    <p>
      Istanbul Technical University, Faculty of Civil Engineering, Department of Geomatics Engineering, Maslak,
      Istanbul, 34469, Turkey
    </p>
  </div>
</div>

<div class="iframe-container">
  <iframe
    width="800"
    height="450"
    src="https://api.maptiler.com/maps/d1dba591-5da7-4bdb-98a7-392bda4396ac/?key=5Hf0u6ObProqvPdeHgF1#14.2/41.104900/29.027386"
  ></iframe>
</div>
