---
layout: default
refactor: true
---
<h3 style="margin-bottom: 0px;">PUBLISHED JOURNAL ARTICLES INDEXED BY SCI, SSCI, AND AHCI</h3>

<style>
  a[href]:hover {
    text-decoration: underline;
  }

  a {
    display: inline-block;
  }

  /* Divider styling */
  hr {
    margin: 5px 0 20px;
  }

  h3 {
    margin-bottom: 20px;
    margin-top: 5px;
  }

  .content {
    font-size: calc(1em - 1pt);
    margin: 0;
    line-height: 1.8;
  }

  .publication-container {
    margin-bottom: 15px;
  }

  .publication-container p {
    margin: 0;
    line-height: 1.8;
  }

  .publication-container {
    list-style: none;
    padding-left: 25px;
    position: relative;
  }

  .publication-container::before {
    content: '•';
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0.6em;
    transform: translateY(-50%);
    line-height: 1.8;
  }
</style>

<hr>

<div class="content">
  <div class="publication-container">
    <p>
      <strong
        >Extracting Structural Elements From 3D Point Clouds in Indoor Environments via Machine Learning Techniques</strong
      >
    </p>
    <p>
      <a href="https://orcid.org/0000-0002-0584-0020">Koray Aksu</a>,
      <a href="https://orcid.org/0000-0003-0338-791X">Hande Demirel</a>
    </p>
    <p>
      <a href="https://ieeeaccess.ieee.org/">IEEE Access</a>, 12, 94461-94476, 2024.
      <a href="https://doi.org/10.1109/ACCESS.2024.3423425"><i class="fa-solid fa-share-from-square"></i></a>
    </p>
  </div>
</div>

<h3 style="margin-bottom: 0px;">ARTICLES PUBLISHED IN OTHER JOURNALS</h3>

<hr>

<div class="content">
  <div class="publication-container">
    <p>
      <strong
        >Integration of Building Information Model into a Game Engine Platform for Indoor Accessibility Analyses</strong
      >
    </p>
    <p>
      <a href="https://orcid.org/0000-0002-0584-0020">Koray Aksu</a>,
      <a href="https://orcid.org/0000-0003-0338-791X">Hande Demirel</a>
    </p>
    <p>
      <a href="https://wseas.com/journals/ead/">WSEAS Transactions on Environment and Development</a>, 20, 391-396,
      2024.
      <a href="https://doi.org/10.37394/232015.2024.20.36"><i class="fa-solid fa-share-from-square"></i></a>
    </p>
  </div>
</div>

<h3 style="margin-bottom: 0px;">REFEREED CONGRESS / SYMPOSIUM PUBLICATIONS IN PROCEEDINGS</h3>
<hr>


<div class="content">
  <div class="publication-container">
    <p><strong>Yapı Bilgi Modellemede Semantik Zenginleştirme ve Güncelleştirme için Farklı Ölçme Tekniklerinin Uygulanması</strong></p>
    <p>
      <a href="https://orcid.org/0000-0002-0584-0020">Koray Aksu</a>,
      Ayşenur Koçyiğit,
      Aydın Furkan Terzi,
	  <a href="https://orcid.org/0000-0003-0338-791X">Hande Demirel</a>
    </p>
    <p>
      <a href="https://uzalcbs2024.aksaray.edu.tr//">IX. Uzaktan Algılama ve Coğrafi Bilgi Sistemleri Sempozyumu (UZAL-CBS 2024)</a>, 2024.
    </p>
  </div>
  
  
  <div class="publication-container">
    <p><strong>Pandemi Öncesi ve Sonrası Trafiğin Çevresel ve Sosyal Etkilerinin CBS Tabanlı Analizi</strong></p>
    <p>
	  Ayşenur Koçyiğit,
	  Aydın Furkan Terzi,
      <a href="https://orcid.org/0000-0002-0584-0020">Koray Aksu</a>,
	  <a href="https://orcid.org/0000-0003-0338-791X">Hande Demirel</a>
    </p>
    <p>
      <a href="https://uzalcbs2024.aksaray.edu.tr//">IX. Uzaktan Algılama ve Coğrafi Bilgi Sistemleri Sempozyumu (UZAL-CBS 2024)</a>, 2024.
    </p>
  </div>



  <div class="publication-container">
    <p><strong>Ataşehir İlçesinin 15 Dakikalık Şehir Kavramı Açısından İncelemesi</strong></p>
    <p> 
	  Aydın Furkan Terzi,
	  Ayşenur Koçyiğit,
      <a href="https://orcid.org/0000-0002-0584-0020">Koray Aksu</a>,
	  <a href="https://orcid.org/0000-0003-0338-791X">Hande Demirel</a>
    </p>
    <p>
      <a href="https://uzalcbs2024.aksaray.edu.tr//">IX. Uzaktan Algılama ve Coğrafi Bilgi Sistemleri Sempozyumu (UZAL-CBS 2024)</a>, 2024.
    </p>
  </div>



  <div class="publication-container">
    <p><strong>Comparative Analysis of 3D Models Generated by Close Range Photogrammetry and Smartphone-Based LiDAR Sensor</strong></p>
    <p>
      <a href="https://orcid.org/0000-0002-0584-0020">Koray Aksu</a>,
      <a href="https://orcid.org/0000-0003-1868-0887">Esra Günaydın</a>,
      <a href="https://orcid.org/0000-0002-1608-0119">Zaide Duran</a>
    </p>
    <p>
      <a href="https://aed.mersin.edu.tr/">9th Advanced Engineering Days (AED)</a>,
      295-297, 2024.
    </p>
  </div>


  <div class="publication-container">
    <p><strong>Üç Boyutlu Yapı Bilgi Modeli Kullanılarak Yangın Dinamiği ve Yangın Tahliyesinin Simülasyonu</strong></p>
    <p>
      <a href="https://orcid.org/0000-0002-0584-0020">Koray Aksu</a>, Tuğay Özcan,
      <a href="https://orcid.org/0000-0001-7534-2839">İlker Karadağ</a>,
      <a href="https://orcid.org/0000-0003-0338-791X">Hande Demirel</a>
    </p>
    <p>
      <a href="https://tuyak.org.tr/">Uluslararası Yangın ve Güvenlik Sempozyumu ve Yangın Güvenliği Sergisi</a>,
      603-618, 2023.
      <a href="https://tuyak.org.tr/wp-content/uploads/2023/11/Tuyak2023-BildiriKitabi_compressed.pdf">
        <i class="fa-solid fa-share-from-square"></i
      ></a>
    </p>
  </div>


  <div class="publication-container">
    <p><strong>Digital Transformation of Campuses: The Role of HD Map</strong></p>
    <p>
      <a href="https://orcid.org/0000-0002-0584-0020">Koray Aksu</a>,
      <a href="https://orcid.org/0000-0003-0338-791X">Hande Demirel</a>,
      <a href="https://orcid.org/0000-0002-1981-9783">Reha Metin Alkan</a>,
      <a href="https://orcid.org/0000-0001-6805-8768">Mustafa Yanalak</a>
    </p>
    <p>
      <a href="https://aetransport.org/etc">European Transport Conference 2023</a>, 2023.
      <a href="https://aetransport.org/past-etc-papers/conference-papers-2023?abstractId=7831&state=b">
        <i class="fa-solid fa-share-from-square"></i
      ></a>
    </p>
  </div>


  <div class="publication-container">
    <p><strong>Kapalı Alan Yangın Tahliye Senaryolarının Dijital Ortamda Oluşturulması</strong></p>
    <p>
      <a href="https://orcid.org/0000-0002-0584-0020">Koray Aksu</a>,
      <a href="https://orcid.org/0000-0003-0338-791X">Hande Demirel</a>
    </p>
    <p>
      <a href="https://mimarlikveyanginsempozyumu.itu.edu.tr/">Mimarlık ve Yangın Sempozyumu</a>, 47-54, 2023.
      <a href="https://mimarlikveyanginsempozyumu.itu.edu.tr/docs/librariesprovider61/default-document-library/mimarlik-ve-yangin-sempozyumu-bildiri-kitabi.pdf?sfvrsn=7e611b66_2">
        <i class="fa-solid fa-share-from-square"></i
      ></a>
    </p>
  </div>


  <div class="publication-container">
    <p><strong>Makine Öğrenme Yöntemleri ile İç Mekan Nokta Bulutlarının Semantik Segmentasyonu</strong></p>
    <p>
      <a href="https://orcid.org/0000-0002-0584-0020">Koray Aksu</a>,
      <a href="https://orcid.org/0000-0003-2080-0278">Adil Enis Arslan</a>,
      <a href="https://orcid.org/0000-0003-0338-791X">Hande Demirel</a>
    </p>
    <p><a href="https://www.tufuab.org.tr/">TUFUAB XII. Teknik Sempozyumu</a>, 2023.</p>
  </div>
</div>
